<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Formulario Barrio</title></head>
<body>
<h1>Formulario Barrio</h1>
<form th:action="@{/barrios/guardar}" th:object="${barrio}" method="post">
    <input type="hidden" th:field="*{id}" />
    <label>Descripción:</label>
    <input type="text" th:field="*{descripcion}" /><br/>
    <label>Ciudad:</label>
    <select th:field="*{ciudad}">
        <option th:each="ciudad : ${ciudades}" th:value="${ciudad}" th:text="${ciudad.descripcion}"></option>
    </select><br/>
    <button type="submit">Guardar</button>
</form>
<a th:href="@{/barrios}">Volver</a>
</body>
</html>
